ul{
    background-color:#00ffff;
    list-style: none;

    display: flex;
    justify-content: space-between;
    height: 30px;
    font-size: 20px;
    margin: 0px;
    padding: 0px 10px;
    border-bottom: black solid 1px;

}
